/* General Styles */

* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #ecf0f1; */
    background: #000000;
    color: #fff;
    font-family: 'Manjari', sans-serif;

}

/* HEADER */

.title h1 {
    padding: 20px 0;
    text-align: center;
    font-size: 2.9em;
    text-transform: uppercase;
}

.conten_title{
    display: inline-block;
    background:rgba(255, 255, 255, 0.774);
    padding: auto 30px;
    margin: 10px auto;
}

.title_iut{
    color: black;
    padding: 40px;
    font-size: 60px;
}

/* BACKGROUND GIF */

.gif{
    background-image: url(../img/mov3.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Space Imagen */
.separador{
    padding: 400px 0px;
    color: black;
}

/* CONTAINER */

.container {
    width: 90%;
    max-width: 1024px;
    margin: 1.6em auto;
    display: grid;
    gap: 1.6em;
    /* grid-template-columns: repeat(4, 1fr) 3%; */
    grid-template-columns: repeat(7, 1fr);
}

.container>.header,
.container>.content,
.container>.sidebar,
.container>div {
    background:rgba(255, 255, 255, 0.774);
    padding: 10px;
    border: 1px solid #fff;
}

.container>.header,
.container>.footer {
    grid-column: 1/-1;
    background-color: #1e272e;
    color: #ffffff;
}

.container>.content {
    grid-column: span 5;
    grid-row: span 4;
}

.content>.article {
    background: #fff;
    padding: 20px;
    margin-top: 5px;
    color: #000000;
}

.article>img{
    margin: 100px 0px;
}

.content .article h1,
.content .article p {
    padding: 10px;
}

.container>.sidebar {
    grid-column: span 2;
    grid-row: span 4;
    background:#fff;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .sidebar img {
    display: block;
    width: 100%;
    margin-top: 150px;
}

.container>.related-post {
    background: #2d3436;
    color: #ffffff;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.container>.related-post:hover {
    cursor: pointer;
    color: #000000;
    background: #ffffff;
}

/* FOOTER */

.separador_footer{
    padding: 40px 0px;
    }

.footer{
    background: #fff;
    padding: 30px 20px;
    border: 1px solid #000000;
    color: black;
}

.copyright, .miembros {
    text-align: end;
    background: #ecf0f1;
    padding: 1em;
}

.miembros{
    padding: 1em;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    .header {
        text-align: center;
    }

    .container .content {
        grid-column: 1 / -1;
    }

    .container .sidebar {
        grid-column: 1 / 6;
    }

    .container .related-post {
        grid-column: 1/-1;
    }
}